*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100vw;
    padding: 1.5rem 2.5rem;
    background-color: aqua;
}
nav .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .navbar .brand-name{
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .navbar .nav-menu{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .navbar .brand-name div {
    display: flex;
    align-items: center;
}

nav .navbar .brand-name div img{
    width: 1.5rem;
    margin-right: 0.7rem;
    
}
nav .navbar .brand-name div span{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
 nav .navbar .nav-menu li{
    list-style: none;
 }
 nav .navbar .nav-menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
 }

